---
---

@import "{{ site.theme }}";

$header-bg-color: #1B3D6B;
$header-bg-color-secondary: #1B3D6B;

.branded-header {  
  background-color: #1B3D6B !important;
  background-image: none !important;
}

.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #1B3D6B !important;
  }
}
